@import "styles/mixins";

.Banner {
  position: relative;
  grid-column: 1 / 4;
  height: var(--banner-height);
  margin-bottom: var(--spacing-2);

  .descriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .clippedLogo {
    display: initial;
    width: 248px;
    height: 248px;
    margin-right: var(--spacing-9);
    mask: var(--l-logo);
    mask-repeat: no-repeat;
    object-fit: cover;
    mask-position: center;
    mask-size: 248px;
    filter: saturate(0%) opacity(90%) drop-shadow(0 0 0 #e87d70);

    @include mobile {
      display: none;
    }
  }

  .descriptionContainer .description {
    align-items: center;
    text-transform: uppercase;
    font-weight: var(--weight-bold);

    .header {
      font-size: var(--em-size-ml);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    .introduction {
      font-size: var(--em-size-xl);
      max-width: 448px;
      margin-bottom: var(--spacing-2);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    .cta {
      cursor: pointer;
      text-transform: inherit;
      padding: var(--spacing-1) var(--spacing-2);
      color: inherit;
      background-color: var(--color-hl-purple);
      border-radius: var(--spacing-h);
    }
  }

  .background {
    z-index: -1;
    position: absolute;
    top: 0;
    object-fit: cover;
    min-width: 100vw;
    max-height: 400px;
    filter: contrast(110%) blur(4px);
  }

  .name {
    color: var(--color-hl-blue);
  }
}
