.SocialNetwork {
  display: flex;
  align-items: center;
  > *:hover {
    color: var(--color-hl-blue);
  }
  > *:not(:last-child) {
    margin-right: var(--spacing-1);
  }
}

.twitch {
  > *:hover {
    color: var(--color-hl-purple);
  }
}
