.PostCard {
  display: inline-block;
  width: 400px;
  min-height: 96px;
  background-color: var(--color-bg-secondary);
  padding: var(--spacing-3);
  padding-top: var(--spacing-2);
  border-radius: var(--spacing-1);

  .cardHeader {
    font-size: var(--em-size-ml);
    font-weight: var(--weight-bold);
    margin-bottom: var(--spacing-1);
  }

  .cardDescription {
    margin-bottom: 12px;
  }

  .cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cardCta {
    all: unset;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--color-hl-blue);
    font-weight: var(--weight-bold);
  }
}
