@import "styles/mixins";

.content {
  margin: 0 var(--spacing-4);
  @include desktop {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:
      minmax(var(--spacing-4), 4fr) [content-start] minmax(800px, 6fr) [content-end] minmax(
        var(--spacing-4),
        1fr
      )
      [toc-start] minmax(160px, 2fr) [toc-end] minmax(var(--spacing-4), 2fr);
    margin: 0;
  }
}

.article {
  grid-row: 1;
  grid-column: content-start / content-end;
}
