@import "styles/mixins";

.content {
  margin: 0 var(--spacing-4);

  @include desktop {
    display: grid;
    grid-template-columns:
      minmax(var(--spacing-4), 1fr) [cards-start] minmax(min-content, 880px) [cards-end sidebar-start] minmax(
        min-content,
        240px
      )
      [sidebar-end] minmax(var(--spacing-4), 1fr);
    margin: 0;
  }
}

.projectsContainer {
  margin-bottom: var(--spacing-4);
}

.cardsContainer {
  grid-column: cards-start / cards-end;
}

.Sidebar {
  @include desktop {
    grid-column: sidebar-start / sidebar-end;
    height: fit-content;
    h1 {
      text-align: right;
      &::after {
        left: unset;
        right: 0;
      }
    }
  }
}
