.PostBody.PostBody {
  p {
    font-size: var(--em-size-m);
    margin: var(--spacing-2) 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-hl-blue);
    text-transform: uppercase;
  }
  h1 {
    font-size: var(--em-size-l);
    margin: var(--spacing-1) 0;
  }
  h2 {
    font-size: var(--em-size-ml);
    margin: var(--spacing-1) 0;
  }
  h3 {
    font-size: var(--em-size-m);
    margin: var(--spacing-h) 0;
  }
  h4 {
    font-size: var(--em-size-b);
    margin: var(--spacing-h) 0;
  }
  h5 {
    font-size: var(--em-size-s);
    margin: var(--spacing-q) 0;
  }
  h6 {
    font-size: var(--em-size-xs);
    margin: var(--spacing-q) 0;
  }

  :not(pre) > code {
    color: var(--color-hl-orange);
    border-radius: var(--spacing-q);
    padding: var(--spacing-q) var(--spacing-h);
    margin: 0 var(--spacing-h);
    box-shadow: 0 0 var(--spacing-q) var(--color-fg-secondary);
  }

  a {
    color: var(--color-hl-yellow);
  }
}
