@import "styles/mixins";

@mixin labelAsIcon {
  .icon {
    display: initial;
  }
  .label {
    display: none;
  }
}

@mixin labelAsText {
  .icon {
    display: none;
  }
  .label {
    display: initial;
  }
}

.MainNavbar {
  @include labelAsIcon();
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-5);
  display: flex;
  justify-content: space-around;
  align-items: center;

  .links {
    padding: 0;
    display: flex;
    gap: var(--spacing-3);
    li {
      list-style-type: none;
    }
  }

  .link {
    text-transform: capitalize;
    color: var(--color-fg-secondary);
    &:hover {
      color: var(--color-hl-blue);
    }
    &.active {
      color: var(--color-fg-primary);
    }
  }

  .logo {
    display: flex;
    width: auto;
    height: var(--spacing-3);
    fill: var(--color-fg-primary);
  }

  @include desktop {
    @include labelAsText();
    gap: var(--spacing-10);
    height: var(--navbar-height);
    font-size: var(--em-size-m);
    font-weight: var(--weight-semibold);
  }
}
